@charset "UTF-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
	margin: 0px;
    letter-spacing: 0.08em;
	color: #171a8f;
}

/* NAV */
nav {
    display: flex;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: hsl(223, 64%, 98%);
    font-size: 6pt;
    font-weight: 900;
    background-color: white;
}

.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
    /*justify-content: space-between;*/
}

.nav-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.nav-ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.active-page {
	color: #4780f1;
}

.logo {
	width: 150px;
	padding: 15px;
}

nav a {
    display: flex;
    align-items: center;
    height: 35px;
    text-decoration: none;
    padding: 0px 35px;
    margin: 0px;
	color: #171a8f;
}

nav a:hover {
	color: #4780f1;
}

.nav-links {
	padding: 15px 0px 15px 15px;
}

button {
  border-radius: 0px;
  background-color: #fff;
  border: none;
}

/* MOBILE NAV */
.m-logo {
	width: 50px;
	padding: 5px;
}

.mobile-nav {
	display: none;
	width: 100%;
}

.mobile-nav-container {
	width: 100%;
}

#mobile-menu, #m-nav {
  display: none;
}

#m-nav {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
#mobile-nav {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

/* The Close Button */
#close{
  color: #070269;
  float: left;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 10px;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* MAIN */
main {
	margin-top: 100px;
}

.section-head {
	background-color: #171a8f;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	flex-direction: column;
	text-align: center;
	padding: 30px 0px;
}


.section-head h3 {
    color: #fff;
    text-transform: uppercase; 
	letter-spacing: 0.03em;
	padding: 0px 30px;
}

.section-head-p, .cta {
	padding: 0px 30px;
}

/* FOOTER */
footer {
    margin-top: auto;
}

.footer-container {
	background-color: #070269;
	width: 100%;
    height: 100px;
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
    font-size: 6pt;
    letter-spacing: 0.2em;
    font-weight: 900;
	text-decoration: none;
}

.footer-content {
	padding: 20px;
}

.footer-logo {
	width: 80px;
}

.footer-links {
}

.footer-links a, .footer-links p {
	color: white;
    font-size: 6pt;
    letter-spacing: 0.2em;
    font-weight: 900;
	text-decoration: none;
}

.footer-links a:hover {
	color: #4780f1;
}

.copyright {
	padding: 20px;
	align-self: flex-end;
}

.copyright p {
	margin: 0px;
}


@media only screen and (max-width: 800px) {
	body {
		font-size: 0.7em;
	}

/* NAV */
    nav {
        border-bottom: none;
        height: 50px;
    }

    .mobile-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        /*justify-content: space-between;*/
    }

    .mobile-nav-container {
        width: 55vw;
		display: flex;
		justify-content: space-between;
    }

    .m-logo {
        display: block;
    }

    #mobile-menu {
        display: block;
        padding: 0px 10px;
    }

    #mobile-menu:hover {
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .nav-container {
        display: none;
    }

    #m-nav-ul {
        flex-direction: column;
    }

    li {
        color: black;
        padding: 0px 10px;
        font-weight: 700;
        padding-bottom: 15px;
        height: 35px;
        list-style-type: none;
    }

    li:hover {
        color: hsl(220, 13%, 13%);
        cursor: pointer;
        box-shadow: none;
        border: none;
        transition: all 0.2s ease;
    }


    /* MAIN */
      main {
          margin-top: 50px;
      }
	
}

@media only screen and (max-width: 600px) {
	footer p, .footer-links a {
		font-size: 0.6em;
	}
}

@media only screen and (max-width: 400px) {
	body {
		font-size: 0.8em;
	}
}

